
div(id='tip-container',class='container')
    div(id='tip')

<!-- Templates -->
script(type="text/template",id="item-template")
    div(class="view")
        label <%- title %>
        span
           | sdfamd.mf.admfadf.ad.fmad
           | sdfdfsdfsadfa

