extends ../layouts/main-layout

block append head

block content
  body



    div(id='chat', class='container')

       form(class='well form-inline center',id='set-nickname')
         p please input your nickname and press enter:
         input(id='nick',type='text')

    div(id='messages', class='row')

        div.col-md-2
           h3 On Line
           div(id='nicknames')
        div(class='col-md-10',id='lines')

    div.row
       form(class='well form-inline center',id='send-message')
         div.control-group
           div.controls
             textarea(id='editor_id',class='span11')
         div.control-group
           div.controls
             button.btn send


    script(data-main='/javascripts/app/talk',src='/javascripts/require.js?v=#{appVersion}')


