extends layout

block append head
  script(src='/socket.io/socket.io.js')
  script
    var socket = io.connect();
    socket.on('connect', function(){

    });

    socket.on('announcement',function(msg){
      $('#line').append($('<p>').append($('<em>')).text(msg));
    });

    socket.on('nickname', function(nicknames) {
      $('#nicknames').empty();

      for(var i in nicknames){
           $('#nicknames').append($('<p>').text(nicknames[i]+'  '));
      }
    });
    socket.on('user message', message);

    socket.on('reconnect',function(){
      $('#line').remove();
      message('System update','reconnect server');
    });
    socket.on('reconnecting', function () {
      message('System', 'Attempting to re-connect to the server');
    });

    socket.on('error', function (e) {
      message('System', e ? e : 'A unknown error occurred');
    });

    function message(from, msg){
      $('#lines').append($('<p>').append('<b>'+from+' : </b>'+msg));
      var p = $('#lines p:last').position();
      var size =  $('#lines p').size();
      $('#lines').get(0).scrollTop = size*200;
    }

    $(function(){

      $('#set-nickname').submit(function(ev){
        socket.emit('nickname',$('#nick').val());
        return false;
      });

      $('#send-message').submit(function(){
        //message('me', $('#message').val());
        socket.emit('user message', $('#message').val());
        clear();
        return false;
      });

      function clear(){
         $('#message').val('').focus();
      };
    });
block content
  body

    h3 talk about whatever you want.....

    div(id='chat', class='container')

       form(class='well form-inline center',id='set-nickname')
         p please input your nickname and press enter:
         input(id='nick',type='text')

    div(id='messages', class='row-fluid')

        div(class='t3 padding20 auto-line online-user')
           h3 On Line
           div(id='nicknames')
        div(class='t9 chat-message padding20',id='lines')


    div.container
       form(class='well form-inline center',id='send-message')
         div.control-group
           div.controls
             textarea(id='message',class='span4')
         div.control-group
           div.controls
             button.btn send


