extends layout

block content
  h1= title
  p Welcome to #{title}
  body
   #chat
     #nickname
      form.wrap#set-nickname
       p please input your nickname and press enter:
       input#nick

       p#nickname-err Nickname already in use

     #messages
      #nicknames
      #lines.chat-message
      #flag
     form.send-message#send-message
      input#message
      button send


