extends layout


block append head
     script
       $(function(){
         $('.popover-test').popover()
       })

block content
  body
    div.row-fluid

       div(class='span8 blog-cnm')
         h3.title Top five classic topics
         if typeof(posts) !== 'undefined' && posts !== null && posts.length > 0
           each post, i in posts
              div.row-fluid
                div.span2
                  div(class='author')
                     p
                       img(src='#{post.creator.faceUrl}', width='60',height='60', alt='user')
                     p #{post.creator.name}

                div.span10

                  div(class="bs-docs-example bs-docs-example-popover")
                      div(class='popover right')
                         div(class='arrow')
                         h3(class='popover-title') #{post.fromNow}
                         div(class='popover-content')
                           p(class='blog-content')
                             nobr #{post.content}
              hr.soft



