extends layout

block append head

  script



block content
  body
    div.row-fluid

       div.span4
         h3 Top five topics
         if typeof(posts) !== 'undefined' && posts !== null && posts.length > 0
           each post, i in posts
              p(class='auto-line') #{post.fromNow} #{post.username} say: #{post.content}

