extends layout

block append head

block content
  body
    div.row-fluid

       div.span4
         h2 blogs
         if typeof(posts) != 'undefined' && posts.length > 0
           each post, i in posts
              p(class='auto-line') #{post.pusTime} #{post.username} say: #{post.content}

