extends layout


block append head
     script
       $(function(){
         $('.popover-test').popover()
       })

block content
  body
      div.row-fluid
          div(class='span8 well-no-back')
              div(class='tabbable')
                  ul(class='nav nav-tabs')
                      li(class='active')
                          a(href='#tab1',data-toggle='tab') 最新
                      li
                          a(href='#tab2',data-toggle='tab') 帮助
                      li
                          a(href='#tab2',data-toggle='tab') 吐槽

                  div(class='tab-content')
                      div(class='tab-pane active',id='tab1')
                          include home/post-content

                      div(class='tab-pane',id='tab2')
                          p Howdy, I'm in Section 2.
          
          div(class='span4 well-no-back')
              h3.title 相关信息
          



