doctype 5
html
  head
   block head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    <![endif]-->
    script(src='/javascripts/jquery/jquery-1.8.0.min.js')
    script(src='/socket.io/socket.io.js')
    script

          var socket = io.connect();
          socket.on('connect', function(){
                console.log('nicknames 111');
          });

          socket.on('announcement',function(msg){

              $('#line').append($('<p>').append($('<em>')).text(msg));
          });

          socket.on('nickname', function(nicknames) {

                    $('#nicknames').empty().append($('<span>On line:<span>'));

                    for(var i in nicknames){
                         $('#nicknames').append($('<b>').text(nicknames[i]+'  '));
                    }
          });
          socket.on('user message', message);

          socket.on('reconnect',function(){
               $('#line').remove();
               message('System update','reconnect server');
          });
          socket.on('reconnecting', function () {
               message('System', 'Attempting to re-connect to the server');
          });

          socket.on('error', function (e) {
               message('System', e ? e : 'A unknown error occurred');
          });

          function message(from, msg){


               $('#lines').append($('<p>').append('<b>'+from+' : </b>'+msg));

               var p = $('#lines p:last').position();

               var size =  $('#lines p').size();


               $('#lines').get(0).scrollTop = size*200;

          }

          $(function(){

               $('#set-nickname').submit(function(ev){

                    socket.emit('nickname',$('#nick').val());
                    return false;

               });

               $('#send-message').submit(function(){
                   //message('me', $('#message').val());

                   socket.emit('user message', $('#message').val());


                   clear();

                   return false;
               });

               function clear(){
                   $('#message').val('').focus();
               };

          });

  body
    block content
    include include/head
    script(src='/javascripts/bootstrap-transition.js')
    script(src='/javascripts/bootstrap-alert.js')
    script(src='/javascripts/bootstrap-modal.js')
    script(src='/javascripts/bootstrap-dropdown.js')
    script(src='/javascripts/bootstrap-scrollspy.js')
    script(src='/javascripts/bootstrap-tab.js')
    script(src='/javascripts/bootstrap-tooltip.js')
    script(src='/javascripts/bootstrap-popover.js')
    script(src='/javascripts/bootstrap-button.js')
    script(src='/javascripts/bootstrap-collapse.js')
    script(src='/javascripts/bootstrap-carousel.js')
    script(src='/javascripts/bootstrap-typeahead.js')