extends layout

block append head

block content
  body


    div.container
      form(action='/login',method='post', class='form-horizontal')
        div.control-group
          label(class='control-label', for='username') username
          div.controls
            input(name='username',type='text')
        div.control-group
          label(class='control-label',for='password') password
          div.controls
            input(name='password',type='password')

        div.control-group
          div.controls
            button(class='btn', type='submit') 登录


