extends layout

block append head

block content
  body
    h1= title
    div.container
      form(class='well form-inline center',action='/post',method='post')
        div.control-group
          div.controls
          textarea(class='span4', name='content')
        div.control-group
          div.controls
          button(type='submit', class='btn btn-success') 发言