extends layout

block append head

block content
  body
    h1= title
    div.container
      form(class='well form-inline center',action='/post',method='post')
        input(type='text', class='span8', name='post')
        button(type='submit', class='btn btn-success') 发言