li
    a(href='#tab2',data-toggle='tab') 帮助
li
    a(href='#tab3',data-toggle='tab') 吐槽



    div(class='tab-pane',id='tab2')
                              p
                                 button(id='test', value='dsfds') test
                          div(class='tab-pane',id='tab3')
                              p Howdy, I'm in Section 2.
