extends ../layout


block append head


block content
  body
    div(class='container well')


        div(class='row-fluid')
           form(action='/user',method='post',enctype='multipart/form-data',  class='form-horizontal')
               fieldset
                   legend 编辑
                   div.control-group
                     label(class='control-label', for='username') face
                     div.controls
                       input(type='file',name='face')

                   div.control-group
                     div.controls
                       button(class='btn', type='submit') 提交
