extends ../layout


block append head
    link(rel='stylesheet', href='/stylesheets/fileuploader.css')
    script(src='/javascripts/file-uploader/fileuploader.js')
    script
        $(function(){
            function createUploader(){
                var uploader = new qq.FileUploader({
                    element: document.getElementById('file-uploader-demo1'),
                    action: '/upload-face',
                    debug: true,
                    extraDropzones: [qq.getByClass(document, 'qq-upload-extra-drop-area')[0]],
                    listElement: document.getElementById('result-list'),
                    uploadButtonText: '上传',
                    cancelButtonText: '取消',
                    failUploadText: '上传失败',
                    multiple:false,
                    sizeLimit:4028000,
                    allowedExtensions:['jpg','gif'],
                    onComplete: function(id, fileName, response){
                        //alert('id: '+id+ '   fileName: '+fileName);
                        if (!response.success){
                            ok(false, 'server did not receive file')
                            return;
                        }
                        var faceUrl = '/images/face/'+fileName;
                        $('#image-face').attr('src',faceUrl);
                        delete response.success;
                        delete response.qqfile;

                        same(response, data, 'server received file and data');
                    }
                });
            }

            // in your app create uploader as soon as the DOM is ready
            // don't wait for the window to load
            window.onload = createUploader;

        });



block content
  body
    div(class='container well')

        div(class='row-fluid')



        div(class='row-fluid')



        div(class='row-fluid')
           form(action='/user',method='post',enctype='multipart/form-data',  class='form-horizontal')
               fieldset
                   legend 编辑
                   div.control-group
                     label(class='control-label', for='username') username
                     div.controls
                       input(name='username',type='text')





                   div.control-group
                     label(class='control-label', for='face') 头像

                     div.controls
                        div.span2
                          img(width='50px',height='50px',id='image-face')
                     div.controls
                         div(id='file-uploader-demo1')
                              noscript
                                 p Please enable JavaScript to use file uploader
                         div(class='qq-upload-extra-drop-area') Drop files here too
                     div.controls
                         div(id='result-list')
                   div.control-group
                     label(class='control-label', for='username') face
                     div.controls
                       input(type='file',name='face')

                   div.control-group
                     div.controls
                       button(class='btn', type='submit') 提交
