extends ../layout


block append head


block content
  body
    div(class='container well')
        div(class='row-fluid')
           div(class='span12')
             h3.title 我的资料
             p
                a(href='/user/edit') edit


        div(class='row-fluid')

