@charset "utf-8";
/**global var**/
/** Helvetica, Tahoma, Arial, \5b8b\4f53, sans-serif; **/
/**global settings**/
.global-font {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif, "宋体";
  font-size: 14px;
}
.page-padding {
  padding-top: 60px;
  padding-bottom: 40px;
}
.page-margin {
  margin-top: 60px;
  margin-bottom: 40px;
}
.container {
  margin: 0 auto;
  max-width: 80%;
}
/**utilies css for other**/
.word-break-wrap {
  word-wrap: break-word;
  word-break: break-all;
}
.margin-top20 {
  margin-top: 20px;
}
.padding-top5 {
  padding-top: 5px;
}
.padding-top10 {
  padding-top: 10px;
}
.padding-top15 {
  padding-top: 15px;
}
.padding-top20 {
  padding-top: 20px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.auto-center-layout {
  margin: 0 auto;
}
.back-transparent {
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0 !important;
  filter: alpha(opacity=20);
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /*兼容opera*/

}
/**all page css**/
.min-container {
  margin-top: 60px;
  margin-bottom: 40px;
  min-height: 500px;
}
.grey-font {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif, "宋体";
  font-size: 14px;
}
.spin-container {
  top: 0;
  left: 50%;
  position: fixed;
  z-index: 100000;
}
/**home page cess**/
.ie9-tip {
  margin-top: 50px;
}
.small-face {
  width: 40px;
  height: 40px;
}
.li-width {
  width: 100%;
  word-break: break-all;
}
.border-content {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-color: #e1e1e8;
  /**

  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);**/

}
.content-div {
  min-height: 500px;
  padding-top: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  /**
  border: 1px solid #CCC;

  box-shadow: 0 0 2px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.1);**/

}
.new-member {
  margin-top: 15px;
}
.blog-content a {
  color: #000000;
}
/**one post**/
.comment-div {
  padding: 5px;
  min-height: 120px;
  border: 1px solid #dddddd;
}
/**login page cess**/
.margin-top100 {
  margin-top: 60px;
}
.image-back {
  height: 500px;
}
.dialog-section {
  margin-top: 140px;
  text-align: center;
  width: 100%;
}
.padding-20 {
  padding: 20px 40px 5px 40px;
}
.login-common {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.dialog {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #BFB8E5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(44, 38, 63, 0.1)));
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
}
.dialog form {
  color: #0A0A0A;
}
.tip {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  min-height: 40px;
  display: block;
}
.dialog-footer {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px 40px 1px 40px;
  margin-top: 10px;
  min-height: 40px;
  color: #0A0A0A;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(44, 38, 63, 0.1)));
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
}
.dialog-footer a {
  color: #04C;
}
/**
@media (max-width: 760px) {

  @dialog-width:212px;
  .login-min-padding{
    padding:10px 10px 0px 20px;
  }


  .dialog{
    .login-common;
    .login-min-padding;
    form{
      .text-left;
      color:#0A0A0A;

    }
    color: #BFB8E5;

    .background-image;
  }
  .dialog-footer{
    .login-common;
    .login-min-padding;
    margin-top: 10px;
    height: 40px;
    color: #0A0A0A;

    .background-image;
    a{
      color:#04C;
    }
  }

  .tip{
    .login-common;
    margin-bottom: 10px;
    height: 40px;
    padding: 10px 10px 1px 10px;
    display: block;
  }
}**/
/**create a post**/
.width70percent {
  width: 70%;
}
.select-100percent {
  width: 100%;
}
.post-content {
  border: 2px solid #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-content .preview-content-div {
  padding-top: 20px;
  min-height: 200px;
}
.content-editor-div {
  padding: 5px;
  min-height: 200px;
  border: 1px solid #dddddd;
}
.tag-select {
  width: 20%;
}
/**user edit**/
.upload-area {
  border: 1px dashed;
  width: 100%;
  line-height: 150px;
  display: table;
  text-align: center;
}
.upload-area p {
  display: table-cell;
  vertical-align: middle;
}
