@charset "utf-8";
/**global var**/
/** Helvetica, Tahoma, Arial, \5b8b\4f53, sans-serif; **/
/**global settings**/
.global-font {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif, "宋体";
  font-size: 14px;
}
.page-padding {
  padding-top: 60px;
  padding-bottom: 40px;
}
.page-margin {
  margin-top: 60px;
  margin-bottom: 40px;
}
.container {
  margin: 0 auto;
  max-width: 80%;
}
/**utilies css for other**/
.word-break-wrap {
  word-break: break-all;
}
.margin-top20 {
  margin-top: 20px;
}
.padding-top20 {
  padding-top: 20px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.auto-center-layout {
  margin: 0 auto;
}
.back-transparent {
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0 !important;
  filter: alpha(opacity=20);
}
/**all page css**/
.min-container {
  margin-top: 60px;
  margin-bottom: 40px;
  min-height: 500px;
}
.grey-font {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif, "宋体";
  font-size: 14px;
}
.spin-container {
  top: 0;
  left: 50%;
  position: absolute;
  z-index: 100000;
}
/**home page cess**/
.content-div {
  min-height: 200px;
  padding-top: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  /**
  border: 1px solid #CCC;

  box-shadow: 0 0 2px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.1);**/

}
.icon-margin-top {
  margin-top: 3px;
}
.up-down-cover {
  position: absolute;
  text-align: center;
  color: #cc0000;
}
.marketing-byline {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
}
.rank-author-line {
  margin-bottom: 5px;
}
.rank-author {
  padding-top: 10px;
}
.relative {
  margin-top: 0px;
  padding: 2px 10px 10px 10px;
  padding-left: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.relative h4 {
  text-align: center;
}
.face-thumbnails {
  width: 40px;
  height: 40px;
}
.blog-content a {
  color: #000000;
}
/**one post**/
/**login page cess**/
.margin-top100 {
  margin-top: 60px;
}
.image-back {
  background: #e0e0e0 repeat url("/images/eye.gif");
  height: 500px;
}
.dialog-section {
  margin-top: 140px;
  text-align: center;
  width: 100%;
}
.padding-20 {
  padding: 20px 40px 5px 40px;
}
.login-common {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 343px;
  margin: 0 auto;
  text-align: center;
}
.dialog {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 343px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 40px 5px 40px;
  color: #BFB8E5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(44, 38, 63, 0.1)));
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
}
.dialog form {
  text-align: left;
  color: #0A0A0A;
}
.tip {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 343px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  height: 40px;
  padding: 10px 40px 1px 40px;
  display: block;
}
.dialog-footer {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 343px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 40px 1px 40px;
  margin-top: 10px;
  height: 40px;
  color: #0A0A0A;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(44, 38, 63, 0.1)));
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
  background-image: linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
}
.dialog-footer a {
  color: #04C;
}
@media (max-width: 760px) {
  .login-min-padding {
    padding: 10px 10px 0px 20px;
  }
  .dialog {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 212px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 0px 20px;
    color: #BFB8E5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(44, 38, 63, 0.1)));
    background-image: -moz-linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
    background-image: linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
  }
  .dialog form {
    text-align: left;
    color: #0A0A0A;
  }
  .dialog-footer {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 212px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 0px 20px;
    margin-top: 10px;
    height: 40px;
    color: #0A0A0A;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(44, 38, 63, 0.1)));
    background-image: -moz-linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
    background-image: linear-gradient(top, #e0e0e0 0%, rgba(44, 38, 63, 0.1) 100%);
  }
  .dialog-footer a {
    color: #04C;
  }
  .tip {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 212px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    height: 40px;
    padding: 10px 10px 1px 10px;
    display: block;
  }
}
/**create a post**/
.width70percent {
  width: 70%;
}
.post-content {
  border: 2px solid #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-content .preview-content-div {
  padding-top: 20px;
  min-height: 200px;
}
.tag-select {
  width: 20%;
}
