
.chat{
    display:block;

}
.display-show{
    display:block;
}
.chat-message{
    background: #eee;
    width: 968px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}
.margin-top20{
    margin-top: 50px;
}

.footer-section{
    margin-top: 20px;
    width: 1170;
}

.copy-p{
    width: auto;
}


