extends ../layouts/logo-layout

block append head
    script(src='/javascripts/app/user.js')

block content
    body
        div(id='login-div',class='container-fluid')
            section
                include _tip
                div.dialog
                    form(id='login-form',action='/login',method='post', class='form-vertical form-inline center')
                        fieldset
                            input(id='error-hidden',type='hidden',value='#{error}')
                            div.control-group
                                label(class='control-label', for='username') 用户名：
                                div.controls
                                    input(id='username-input',name='username',type='text',class='input-xlarge325',value='#{username}')
                            div.control-group
                                label(class='control-label',for='password') 密码：
                                div.controls
                                    input(id='password-input',name='password',type='password',class='input-xlarge325',value='#{password}')

                            div.control-group
                                a(id='login-btn',class='btn btn-success',href='#login') 登录
                                div.pull-right
                                    a(class='padding-top4', href='/forget') 忘记密码

                div.dialog-footer
                    span
                        a(href='/reg') 开始你的翱翔之旅
                    span.pull-right 注册




