<!-- Templates -->
script(type="text/template",id="item-template")
    div.row
        div.col-md-7
            div.media
                a('href=/users/<%- creator._id %>',class='pull-left')
                    img('src=<%- creator.thumbnails %>',class='img-rounded img-thumbnail')
                div.media-body
                    h5.media-heading
                        p.padding-top5
                            a('href=/posts/<%- _id %>') <%- title %>


        div.col-md-4

                span.text-warning.small <%- location %>
        div.col-md-1
            div.pull-right
                span(class='badge') 评论 <%= comments.length %>


    div.row
        div.col-md-12
            p.blog-content.word-break-wrap
                a('href=/posts/<%- _id %>') <%- content %>
                    
    div.row
        div.col-md-7
            div.row
                
                    div(name='up-post-div',class='col-md-2 col-xs-3 col-sm-2')
                        a(name='up-post',class='btn btn-default btn-sm up','data=<%- _id %>')
                            span(class='glyphicon glyphicon-thumbs-up')
                            | 顶(<%- up %>)
               
                    div(name='down-post-div',class='col-md-2 col-xs-3 col-sm-2')
                        a(name='down-post',class='btn btn-default btn-sm down')
                            span(class='glyphicon glyphicon-thumbs-down')
                            | 踩(<%- down %>)

    div.row
        div.col-md-12
            div.pull-left
                p.marketing-byline
                    | • <%- looked %> 次浏览


            div.pull-right
                p.marketing-byline
                    <%- creator.name %> 发表于 <%- fromNow %>

    hr.soft
<!-- Templates -->
script(type="text/template",id="pager-template")
    div.row
        div.col-md-12
            div(class='pagination pagination-right pull-right')
            








