<!-- Templates -->
script(type="text/template",id="item-template")
    div.row
        div.col-md-8
            p
                a('href=/users/"<%- creator._id %>"')
                    img('src="<%- creator.thumbnails %>"',class='img-polaroid img-rounded')
                | &nbsp;&nbsp;&nbsp;
                a('href=/posts/"<%- _id %>"') <%- title %>

        div.col-md-4
            div.pull-right
                span(class='badge') 评论 <%= comments.length %>
    div.row
        div.col-md-12
            p.blog-content
                a('href=/posts/"<%- _id %>"') <%- content %>
                    
    div.row
        div.col-md-8
            div.row
                div(name='up-post-div', class='col-md-2 col-xs-3 col-sm-2')
                    
                    a(name='up-post',class='btn btn-default up','data="<%- _id %>"')
                        span(class='glyphicon glyphicon-thumbs-up')
                        | 顶(<%- up %>)
                    
                div(name='down-post-div', class='col-md-2 col-xs-3 col-sm-2')
                    a(name='down-post',class='btn btn-default down')
                        span(class='glyphicon glyphicon-thumbs-down')
                        | 踩(<%- down %>)

    div.row
        div.col-md-12
            div.pull-left
                p.marketing-byline
                    | • <%- looked %> 次浏览


            div.pull-right
                p.marketing-byline
                    <%- creator.name %> 发表于 <%- fromNow %>

    hr.soft
script(type="text/template",id="page-template")
    div.row
        div.col-md-12
            div(id='pagination-div',class='pagination pull-right')








