


<!-- Templates -->
script(type="text/template",id="item-template")
    div.row-fluid
         div.span12
             li.up-and-down
                 a(name='up-post',class='btn up',data='<%- post._id %>')
                     i(class='icon-thumbs-up')
                     | 顶(7690)
                 a(name='down-post',class='btn down')
                     i(class='icon-thumbs-down')
                     | 踩(4578)







