extends ../layouts/main-layout

block append head

block content
    body
        div.container-fluid
            div.row-fluid
                div.span12.well-no-back
                    form(class='form-inline center',action='/posts',method='post')
                        legend 发表
                        div.control-group
                            label(class='control-label', for='title') 标题：
                            div.controls
                                input(name='title',type='text',class='input-xlarge',placeholder='最多40字符')
                        div.control-group
                            label(class='control-label', for='title') 内容：
                            div.controls
                                textarea(id='editor_id',class='span6', name='content',rows='5')
                        div.control-group
                            div.controls
                                button(type='submit', class='btn btn-success') 发言