extends ../layouts/main-layout

block append head

block content
    body

        div(class='alert alert-info')
            | 发布的文章通过审核后读者才能看到
        div.row
            div.col-md-12
                form(action='/posts',method='post')
                    legend 发表
                    div.form-group
                        div.row
                            div.col-md-6
                                label(for='title') 标题：
                        div.row
                            div.col-md-6
                                input(name='title',type='text',class='form-control',placeholder='最多40字符',type='text',maxlength='40',required,data-validation-maxlength-message='标题不能超过40个字符！')

                        div.row
                            div.col-md-6
                                label(for='title') 标签：
                        div.row
                            div.col-md-12
                                select(id='tag-select',name='tag',class='chosen-select tag-select')
                                    if typeof(tags) !== 'undefined' && tags.length > 0
                                        each tag, i in tags
                                            option(value='#{tag._id}') #{tag.name}


                    div.form-group
                        label( for='content') 内容：
                        div.row
                            div.col-md-12
                                p.pull-right

                                    a(href='#guide-makedown',data-toggle='modal',class='btn btn-default') 编辑器使用说明

                        div.row.post-content
                            div.col-md-12
                                ul(class='nav nav-tabs')
                                    
                                    ul(class='nav nav-tabs')
                                        li(class='active')
                                            a(href='#write',data-toggle='tab') 写

                                        li
                                            a(href='#preview',data-toggle='tab') 预览 
                                                 
                                                    
                                    div(class='tab-content')
                                        div(class='tab-pane active',id='write')
                                            div(id='posts',class='padding-top20')
                                                textarea(id='editor-area',class='form-control', name='content',rows='10',placeholder='最多2000字符',type='text',maxlength='2000',required,data-validation-maxlength-message='内容不能超过2000个字符！')
                                        div(class='tab-pane',id='preview')
                                            div(id='preview-content',class='preview-content-div')
                                                
                                
                    div.form-group
                        button(type='submit', class='btn btn-success') 发言
        <!-- guide dialog -->
        div(id='guide-makedown',class='modal fade', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            div.modal-dialog.width70percent
                div.modal-content
                    div.modal-header
                        button(type='button',class='close',data-dismiss='modal',aria-hidden='true')
                            &times;
                        h5 编辑器使用说明

                    div.modal-body
                        div.row
                            div.col-md-4
                                p 
                                    strong 格式化
                                p 
                                    
                                    small.text-muted 格式化文本      
                                    code
                                        pre .
                                            # This is an <h1> tag
                                            ## This is an <h2> tag
                                            ###### This is an <h6> tag
                                p 
                                    small.text-muted 风格
                                    code
                                        pre .
                                            *This text will be italic*
                                            _This will also be italic_

                                            **This text will be bold**
                                            __This will also be bold__

                                            *You **can** combine them*
                            div.col-md-4
                                p 
                                    strong 列表
                                    p 
                                        small.text-muted 无序
                                        code
                                            pre .
                                                * Item 1
                                                * Item 2
                                                  * Item 2a
                                                  * Item 2b
                                    p 
                                        small.text-muted 有序
                                        code
                                            pre .
                                                1. Item 1
                                                2. Item 2
                                                3. Item 3
                                                   * Item 3a
                                                   * Item 3b
                            div.col-md-4
                                p 
                                    strong 其它
                                    p 
                                        small.text-muted 图片
                                        code
                                            pre .
                                                ![GitHub Logo](/images/logo.png)
                                                Format: ![Alt Text](url)
                                    p
                                        small.text-muted 链接
                                        code
                                             pre .
                                                 http://github.com - automatic!
                                                 [GitHub](http://github.com)
                                    p
                                         small.text-muted 引用
                                         code
                                             pre .
                                                  As Kanye West said:
                                                  > We're living the future so
                                                  > the present is our past.


                    div.modal-footer
                        p powered by github makedown
        script(data-main='/build/app/post-article',src='/javascripts/require.js?v=#{appVersion}')