extends layouts/main-layout

block append head

block content
    body
        div(id='home-div',class='row')
            div(class='col-md-8 well-no-back')
                div(class='tabbable')
                    ul(class='nav nav-tabs')
                        li(class='active')
                            a(href='#new',data-toggle='tab')
                                div(id='spinner')
                                | 最新
                    div(class='tab-content')
                        div(class='tab-pane active',id='new')
                            div(id='posts')
                                include home/post-content-bone
                            div.row
                                div.col-md-12
                                    div(id='pagination-div',class='pagination pagination-right pull-right')
            div(class='col-md-4 relative')

                h4.title 发现排行
                hr
                if users
                    each user, i in users
                        div(class='row rank-author-line')
                            div(class='col-md-2')
                               img(class='img-polaroid img-rounded', src='#{user.thumbnails}',alt='头像',title='#{user.name}')
                            div.col-md-10.rank-author
                                a(href='/users/#{user._id}') #{user.name}

        script(data-main='/javascripts/app/home',src='/javascripts/require.js')