extends layouts/main-layout

block append head

block content
    body
        div(id='home-div',class='row-fluid')
            div(class='span8 well-no-back')
                div(class='tabbable')
                    ul(class='nav nav-tabs')
                        li(class='active')
                            a(href='#new',data-toggle='tab') 最新
                    div(class='tab-content')
                        div(class='tab-pane active',id='new')
                            div(id='posts')
                                include home/post-content-bone
            div(class='span4 relative')
                h3.title 相关信息

        script(data-main='/javascripts/app/home.js',src='/javascripts/require-jquery.js')