link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
link(rel='stylesheet', href='/stylesheets/font-awesome-ie7.min.css')
link(rel='stylesheet', href='/stylesheets/application.css')
