
  
link(rel='stylesheet', href='/stylesheets/application-all-min.css?v=#{appVersion}')
unless 'production' === env
  script(src='/javascripts/require.js')
  script(src='/javascripts/requirejs-config.js')




