div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='/') 翱翔中国
            div.nav-collapse.collapse
                ul.nav

                    if(typeof(currentLink) !== 'undefined' && currentLink === 'HOME')
                        li.active
                            a(href='/') 主页
                    else
                        li
                            a(href='/') 主页
                    if(typeof(currentLink) !== 'undefined' && currentLink === 'REVIEW')
                        li.active
                            a(href='/review') 审阅
                    else
                        li
                            a(href='/review') 审阅

                ul.nav.pull-right
                    if typeof(user) === 'undefined' || user === null || user === ''

                        li.login-bar
                            span.height-auto
                               a(href='/login') [登录]
                               &nbsp / &nbsp
                               a(href='/reg') [注册]
                    else
                        li.dropdown
                              a(class='dropdown-toggle', href='#', data-toggle='dropdown')
                                img(src='#{user.mini}',class='img-rounded')
                                | &nbsp;&nbsp #{user.name}
                                b.caret
                              ul.dropdown-menu
                                li
                                  a(href='/user') 我的资料
                                li
                                  a(href='/user/#{user._id}') 我的主页

                                li.divider
                                li.nav-header 操作
                                li
                                  a(href='/posts/new') 发表
                                li
                                  a(href='#')
                        li
                          a(href='/logout') 退出


