div.navbar.navbar-default.navbar-inverse.navbar-fixed-top

        div.container
            div.navbar-header
                button(type='button',class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class='navbar-brand',href='/')
                    i.icon-eye-open
                    | 发现
            div.navbar-collapse.collapse
                ul.nav.navbar-nav

                    if(typeof(currentLink) !== 'undefined' && currentLink === 'HOME')
                        li.active

                            a(href='/')
                                i.icon-home.icon-white
                                strong &nbsp;主页
                    else
                        li
                            a(href='/')

                                i.icon-home.icon-margin-top
                                strong &nbsp;主页
                    if(typeof(currentLink) !== 'undefined' && currentLink === 'REVIEW')
                        li.active
                            a(href='/review')
                                i.icon-filter.icon-white
                                strong &nbsp;审阅
                    else
                        li
                            a(href='/review')
                                i.icon-filter.icon-margin-top
                                strong &nbsp;审阅

                ul.nav.navbar-nav.navbar-right
                    if typeof(user) === 'undefined' || user === null || user === ''
                        li
                            a(href='/login')
                                i.icon-signin
                                | 登录

                        li
                            a(,href='/reg')
                                i.icon-user-md
                                | 注册
                    else
                        li.dropdown
                                a(class='dropdown-toggle', href='#', data-toggle='dropdown')
                                    img(src='#{user.mini}',class='img-rounded')
                                    | &nbsp; #{user.name} &nbsp;
                                    b.icon-caret-down



                                ul.dropdown-menu
                                    li
                                      a(href='/users') 我的资料
                                    li
                                      a(href='/users/#{user._id}') 我的主页

                                    li.divider

                                    li
                                      a(href='/posts/new') 发表
                                    li
                                      a(href='#')
                        li
                            a(href='/logout')
                                i.icon-signout
                                | 退出


