<!--[if lt IE 9 ]>
div(class='container-fluid alert alert-danger')
    div(class='row-fluid')
        div(class='span8 offset2')
            div
                h4 Warning!
                | Please note that this OVP demo (only this demo) no longer supports Internet Explorer versions 6 7 or 8
                | and we can not assure it will work fine for IE6,7,8.
                | We recommend upgrading to the latest Internet Explorer, Google Chrome, or Firefox.
                | If you are using IE 9 or later, make sure you turn off "Compatibility View".

<![endif]-->