//if lt IE 9
    div(class='ie9-tip alert alert-danger alert-dismissable fade in')
        button(type='button',class='close',data-dismiss='alert',aria-hidden='true') &times
        div(class='row')
            div(class='col-sm-offset-1 col-md-10')
                div

                    h4 注意!
                    br
                    p
                        | 本站将不再提供对IE 6，7，8 及6以下版本的支持，
                        | 同时也不能保证本站点内容可以很好的运行在 IE6，7，8，及6以下版本上。
                        | 我们强烈的推荐您使用最新的IE浏览器或者google chrome 浏览器，或者firefox 浏览器浏览本站内容。
                        | 如果您正在使用IE9 或 IE最新版本，确保关闭IE兼容性视图
