div.row
    div.col-md-12
        if !typeof(success)
            div(class='alert alert-success')
                #{success}
        if !typeof(error)
            div(class='alert alert-warning')
                #{error}