div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a(class='navbar-brand',href='/')
                span.glyphicon.glyphicon-eye-open
                | 发现


