doctype
html(lang='en')
    head
        block head
            title= title

            include _meta
            include _css

            include _ico
            include _head
            include _message

    div.container.min-container
        block content
    include _footer

    include _js
