doctype 5
html(lang='en')
    head
        block head
            title = title

            include _meta
            include _css

            include _js

            include _ico
           
    include _head
    include _ie9
    div.container.min-container
        include _message
        block content
    include _footer

   
