doctype
html(lang='en')
    head
        block head
            title= title

            include _meta
            include _css

            include _ico
            include _logo


    div.container.min-height
        include _message
        block content
    include _footer

    include _js
