doctype
html(lang='en')
    head
        block head
            title= title

            include _meta
            include _css

            include _ico
            include _logo
            include _message

            div.container.min-height
                block content
            include _footer

            include _js
