doctype
html(lang='en')
    head
        block head
            title #{title}

            include _meta
            include _css

            include _js
            
            include _ico
            include _logo

    include _ie9
    div.container.min-height
        include _message
        block content
    include _footer

